/* @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap'); 
 
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}   */

/* body{
    padding: 50px;
    
}

.block{
    display: block;

}
.inline{
    width: 100%;
}
.box{
    width: 100px;  
    height: 100px;
    border: 1px solid black;
    display: inline;
}
.inline .box:nth-child(2){
    opacity: 0.3;
}
.withScroll{
    width: 200px;
    height: 100px;
    overflow: scroll;
    outline: 1px solid black;
}
.picture{
    width: 1050px;
    height: 2000px;
    background-image: url(../img/unnamed.jpg);
    background-repeat: no-repeat;
    border: 1px solid black;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
 */
body{
    height: 3000px;
}
.parent{
     width: 500px;
     height: 500px;
     border: 1px solid black;
     background: purple;
     position: relative;
     left: 50px;

}

.child{
     width: 50px;    
     height: 50px;
     background: yellow;
     position: relative;
     left: 500px;
     z-index: 1;
     top: 50px;
     opacity: 0.5;

}
.child2{
    width: 50px;    
    height: 50px;
    background: green;
    position: fixed;
    right: 0;
    bottom: 0;
}
